*{
	margin: 0;
	padding: 0;
}
.box1{
	width: 100%;
	height: 3025px;
}
.box1-1,.box1-2,.box1-3,.box1-4,.box1-5{
	width: 100%;
	height: 626px;
	/*background: black;*/
}
.box1-1{
	/*background: rgba(135,206,235,0.5);*/
}
.box1-1-1{
	width: 260px;
	height: 60px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: rgba(244,244,247,.5);
	position: fixed;
	top: 35px;
	left: 42px;
	transition:all 0.5s;
}
.box1-1-1-1c{
	width: 58px;
	height: 58px;
	border: 1px solid #ccc;
	border-radius: 50%;
	background: url(../img/1.jpg) -5px;
	background-size: 60px 60px;
	position:absolute;
	left: 11px;
}
.box1-1-1-1s{
	width: 60px;
	height: 30px;
	background: black;
	position: absolute;
	top: 15px;
	left: 90px;
	border-radius: 5px;
	color: white;
	font-weight: bolder;
	text-align: center;
	line-height: 30px;
	transition:all 0.5s;
}
.box1-1-1-1zt{
	width: 80px;
	height: 30px;
	position: absolute;
	top: 15px;
	left: 160px;
	line-height: 30px;
	font-weight:bold;
	transition:all 0.5s;
}
.box1-1-1:hover {
	background: rgba(120,120,120,.1)
}
.box1-1-1:hover .box1-1-1-1s{
	background: rgba(120,120,120,0);
	color:black;
}
.box1-1-1:hover .box1-1-1-1zt{
	left: 140px;
}